<ng-template #modal let-modal>
  <div *ngIf="!isModifyMode; else modify_modal">
    <div class="modal-header">
      <div>
        <h2 class="modal-title" id="modal-basic-title">{{"Aggiungi trasferta" | translate}}</h2>
        <span id="emailHelp" class="form-text">* Inserire la data per la trasferta</span>
      </div>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form action="" [formGroup]="form" (ngSubmit)="submitNewEntry()">
      <div class="modal-body">
        <div class="mb-3 d-flex gap-4 text-primary">
          <div>
            <label for="dateFrom" class="form-label h5">{{"Da" | translate}}</label>
            <input type="date" class="form-control" id="dateFrom" formControlName="dateFrom">
            <app-form-error [formControlRef]="dateFrom" [validator]="'required'" [errorText]="'Seleziona la data di inizio'"></app-form-error>
          </div>
          <div>
            <label for="dateTo" class="form-label h5">{{"A" | translate}}</label>
            <input type="date" class="form-control" id="dateTo" formControlName="dateTo">
            <app-form-error [formControlRef]="dateTo" [validator]="'required'" [errorText]="'Seleziona la data di fine'"></app-form-error>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="px-4 py-0 rounded-4 bg-dark-subtle border-0 text-dark" (click)="modal.close('Save click')">Annulla</button>
        <button type="submit" class="px-4 py-0 rounded-4 bg-primary border-0 text-light" (click)="modal.close('Save click')" [disabled]="form.invalid" [class.disabled]="form.invalid">Salva</button>
      </div>
    </form>
  </div>
  <!-- template Modale richiamato quando si è in modalità modifica -->
  <ng-template #modify_modal>
    <div class="modal-header">
      <div>
        <h2 class="modal-title" id="modal-basic-title">{{"Modifica trasferta" | translate}}</h2>
        <span id="emailHelp" class="form-text">* {{"Modificare le trasferte" | translate}}</span>
      </div>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form action="" [formGroup]="form" (ngSubmit)="submitModifyModeForm()">
      <div class="modal-body" formArrayName="working_trips">
        <div *ngFor="let workingTrip of workingTrips.controls; let i = index" formGroupName="{{i}}">
          <div class="mb-3 d-flex gap-4 text-primary" [ngClass]="{'delete-mode': toDeleteEntries.includes(workingTrip.value.id)}">
            <div>
              <label for="date-from" class="form-label h5">{{"Da" | translate}}</label>
              <input type="date" class="form-control" id="dateFrom" formControlName="dateFrom">
              <app-form-error [formControlRef]="this.workingTrips.at(i).get('dateFrom')" [validator]="'required'" [errorText]="'Seleziona la data di inizio'"></app-form-error>
            </div>
            <div>
              <label for="date-to" class="form-label h5">{{"A" | translate}}</label>
              <input type="date" class="form-control" id="dateTo" formControlName="dateTo">
              <app-form-error [formControlRef]="this.workingTrips.at(i).get('dateTo')" [validator]="'required'" [errorText]="'Seleziona la data di fine'"></app-form-error>
            </div>
            <div class="d-flex align-items-end">
              <button class="rounded-circle bg-danger btn btn-icon" type="button" (click)="toggleEntryDelete(workingTrip.value, i)"><fa-icon [icon]="faIcons.xSimbol" class="fa-sm text-light"></fa-icon></button>
            </div>
          </div>
          <hr class="my-4 border-1" *ngIf="i != (workingTrips.controls.length - 1)">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="px-4 py-0 rounded-4 bg-dark-subtle border-0 text-dark" (click)="modal.close('Save click')">Annulla</button>
        <button type="submit" class="px-4 py-0 rounded-4 bg-primary border-0 text-light" (click)="modal.close('Save click')" [disabled]="form.invalid" [class.disabled]="form.invalid">Salva</button>
      </div>
    </form>
  </ng-template>
</ng-template>
