<div ngbDropdown container="body" class="d-inline-block" (click)="$event.stopPropagation()">
  <button
    type="button"
    ngbDropdownToggle
    class="btn btn-outline-light border-secondary text-black dropdown-toggle"
    [ngClass]="buttonClass"
  >
    <i class="fa-solid fa-ellipsis-vertical"></i>
  </button>
  <div ngbDropdownMenu>
    <button ngbDropdownItem *ngFor="let item of dropdownOptions" (click)="item.onclick()">
      {{ item.name | translate }}
    </button>
  </div>
</div>

<!-- <div ngbDropdownMenu>
    <button ngbDropdownItem (click)="cancelEdit()">
      {{ "Annulla" | translate }}
    </button>
    <button ngbDropdownItem (click)="openConfirmDeletionModal()">
      {{ "Elimina" | translate }}
    </button>
  </div> -->
