<app-list-interaction>
  <ng-container other-buttons>
    <button
      class="btn btn-primary text-white"
      *ngIf="authService.isPrivilegedUser()"
      [disabled]="!authService.isPrivilegedUser()"
      (click)="openAddProjectModal(addProjectModal)"
    >
      {{ addButtonName | translate }}
    </button>
  </ng-container>
  <div list-filters class="row g-3">
    <div class="col-md-4">
      <label class="form-label fw-bold">
        <i class="fa-solid fa-search me-1"></i>
        {{ "Cerca Progetto" | translate }}
      </label>
      <input
        type="text"
        class="form-control"
        [placeholder]="'Cerca per nome...' | translate"
        [(ngModel)]="searchTerm"
        (input)="filterProjects()"
      />
    </div>

    <!-- Filtro per stato -->
    <div class="col-md-4">
      <label class="form-label fw-bold">
        <i class="fa fa-bars-progress me-1"></i>
        {{ "Filtra per stato" | translate }}
      </label>

      <p-multiSelect
        [options]="projectStatuses"
        optionLabel="label"
        optionValue="value"
        [placeholder]="'Tutti' | translate"
        [(ngModel)]="selectedStatus"
        (onChange)="filterProjects()"
        class="w-100 p-multiselect-sm"
        [showToggleAll]="false"
        [filter]="false"
        [showHeader]="false"
      ></p-multiSelect>
    </div>

    <!-- Filtro per assegnatario -->
    <div class="col-md-4" *ngIf="authService.isPrivilegedUser()">
      <label class="form-label fw-bold"
        ><i class="fa fa-user me-2"></i>{{ "Assegnato a" | translate }}</label
      >

      <p-multiSelect
        [options]="assignedToList"
        [placeholder]="'Seleziona...' | translate"
        [(ngModel)]="selectedAssignedTo"
        (onChange)="filterProjects()"
        [showToggleAll]="false"
        [showHeader]="false"
        [filter]="false"
        class="w-100 p-multiselect-sm"
        [style]="{ 'min-height': '32px', 'font-size': '0.85rem' }"
      >
      </p-multiSelect>
    </div>
  </div>
</app-list-interaction>
<!-- Add project modal -->
<ng-template #addProjectModal let-modal>
  <div class="modal-header">
    <div>
      <h3 class="modal-title" id="modal-basic-title">
        {{ "Aggiungi Progetto" | translate }}
      </h3>
      <span class="form-text">* {{ "Inserisci un nuovo progetto" | translate }}</span>
    </div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-project-form #projectFormComp></app-project-form>
    <span *ngIf="addProjectRequestError" class="text-danger mt-2">
      {{ addProjectRequestError }}
    </span>
  </div>
  <div class="modal-footer">
    <app-button
      [type]="'button'"
      [name]="'Annulla' | translate"
      [mode]="'UNDO'"
    ></app-button>
    <app-button
      [type]="'submit'"
      [name]="'Salva' | translate"
      [mode]="'SAVE'"
      [buttonDisabled]="projectFormComp.projectForm.invalid"
      (buttonClick)="submitAddProjectForm(projectFormComp)"
    ></app-button>
  </div>
</ng-template>
