<nav class="navbar navbar-expand navbar-light bg-primary px-3 position-sticky">
  <a href="#" class="navbar-brand">
    <img
      src="/assets/img/app-logo.png"
      alt=""
      width="40px"
      height="40px"
      class="d-inline-block"
    />
    <span class="align-bottom text-dark fw-bold fs-4 ms-3">PRESENZE PRO</span>
  </a>
  <ul class="navbar-nav ms-auto">
    <li class="nav-item">
      <a class="nav-link">
        <app-notification></app-notification>
      </a>
    </li>
    <li class="nav-item dropdown">
      <app-user-dropdown></app-user-dropdown>
    </li>
    <li class="nav-item">
      <app-select-lang></app-select-lang>
    </li>
  </ul>
</nav>
