<div
  class="dropdown-center tt"
  data-bs-toggle="tooltip"
  [title]="tooltipTitle"
  data-bs-placement="top"
  data-bs-custom-class="custom-tooltip"
  [attr.id]="dropdownId"
>
  <button
    class=" btn-calendar-daycell dropdown-toggle no-caret"
    [ngClass]="buttonClasses"
    data-bs-toggle="dropdown"
    [attr.data-bs-target]="dropdownTargetId"
    aria-expanded="false"
    [ngClass]="{'btn-remove': mode === 'DELETE'}"
  >
    <fa-icon
      [icon]="buttonIcon"
      class="fa-lg "
    ></fa-icon>
  </button>
  <ul
    class="dropdown-menu"
    [attr.id]="dropdownMenuId"
  >
    <li>
      <a
        class="dropdown-item d-flex align-items-center gap-2"
        (click)="openModal(dayworkModal)"
        [ngClass]="{ 'disabled-item': isDayWorksDisabled }"
      >
        <fa-icon [icon]="faIcons.briefcase" class="fa-lg"></fa-icon>
        <span>{{ "Incarico" | translate }}</span>
      </a>
    </li>
    <li>
      <a
        class="dropdown-item d-flex align-items-center gap-2"
        (click)="openModal(requestModal)"
        [ngClass]="{ 'disabled-item': isRequestsDisabled }"
      >
        <fa-icon [icon]="faIcons.request" class="fa-lg"></fa-icon>
        <span>{{ "Richiesta" | translate }}</span>
      </a>
    </li>
    <li>
      <a
        class="dropdown-item d-flex align-items-center gap-2"
        (click)="openModal(workingTripModal)"
        [ngClass]="{ 'disabled-item': isWorkingTripsDisabled }"
      >
        <fa-icon [icon]="faIcons.route" class="fa-lg"></fa-icon>
        <span>{{ "Trasferta" | translate }}</span>
      </a>
    </li>
    <li>
      <a
        class="dropdown-item d-flex align-items-center gap-2"
        (click)="openModal(availabilityModal)"
        [ngClass]="{ 'disabled-item': isAvailabilitiesDisabled }"
      >
        <fa-icon [icon]="faIcons.bell" class="fa-lg"></fa-icon>
        <span>{{ "Reperibilità" | translate }}</span>
      </a>
    </li>
  </ul>
</div>

<app-working-trip-modal
  #working_trip_modal
  [isModifyMode]="isModalsModifyMode"
  [calendarEntries]="filteredEntries.working_trips || []"
></app-working-trip-modal>
<app-availability-modal
  #availability_modal
  [isModifyMode]="isModalsModifyMode"
  [calendarEntries]="filteredEntries.availabilities || []"
></app-availability-modal>
<app-request-modal
  #request_modal
  [isModifyMode]="isModalsModifyMode"
  [calendarEntries]="filteredEntries.requests || []"
></app-request-modal>
<app-daywork-modal
  #daywork_modal
  [date]="dayClicked"
  [dateString]="dayWorkDateTitle"
  [isModifyMode]="isModalsModifyMode"
  [calendarEntries]="filteredEntries.day_works || []"
></app-daywork-modal>
