<div
  class="dropdown-center tt"
  ngbTooltip="{{ tooltipTitle }}"
  [attr.id]="dropdownId"
  #t="ngbTooltip"
  ngbDropdown
>
  <button
    class="btn-calendar-daycell dropdown-toggle no-caret"
    [ngClass]="buttonClasses"
    ngbDropdownToggle
    (click)="t.close()"
    [ngClass]="{ 'btn-remove': mode === 'DELETE' }"
  >
    <fa-icon
      [icon]="buttonIcon"
      class="fa-lg"
    ></fa-icon>
  </button>

  <ul
    ngbDropdownMenu
    class="dropdown-menu"
    container="body"
    [attr.id]="dropdownMenuId"
    [ngClass]="{ 'delete-dropdown': mode === 'DELETE' }"
  >
    <li>
      <button
        class="dropdown-item d-flex align-items-center gap-2"
        (click)="openModal(dayworkModal)"
        [disabled]="isDayWorksDisabled"
        ngbDropdownItem
      >
        <fa-icon [icon]="faIcons.briefcase" class="fa-lg"></fa-icon>
        <span>{{ "Incarico" | translate }}</span>
      </button>
    </li>

    <li>
      <button
        class="dropdown-item d-flex align-items-center gap-2"
        (click)="openModal(requestModal)"
        [disabled]="isRequestsDisabled"
        ngbDropdownItem
      >
        <fa-icon [icon]="faIcons.request" class="fa-lg"></fa-icon>
        <span>{{ "Richiesta" | translate }}</span>
      </button>
    </li>

    <li>
      <button
        class="dropdown-item d-flex align-items-center gap-2"
        (click)="openModal(workingTripModal)"
        [disabled]="isWorkingTripsDisabled"
        ngbDropdownItem
      >
        <fa-icon [icon]="faIcons.route" class="fa-lg"></fa-icon>
        <span>{{ "Trasferta" | translate }}</span>
      </button>
    </li>

    <li>
      <button
        class="dropdown-item d-flex align-items-center gap-2"
        (click)="openModal(availabilityModal)"
        [disabled]="isAvailabilitiesDisabled"
        ngbDropdownItem
      >
        <fa-icon [icon]="faIcons.bell" class="fa-lg"></fa-icon>
        <span>{{ "Reperibilità" | translate }}</span>
      </button>
    </li>
  </ul>
</div>
