<div
  class="dropdown-center tt"
  data-bs-toggle="tooltip"
  title="{{
    this.mode === 'ADD'
      ? 'Aggiungi una nuova entry alla giornata'
      : ('Elimina una entry relativa alla giornata' | translate)
  }}"
  data-bs-placement="top"
  data-bs-custom-class="custom-tooltip"
  [attr.id]="'dropdown-' + this._date?.toISOString()"
>
  <button
    class="rounded-circle btn btn-icon dropdown-toggle no-caret"
    [ngClass]="{
      'bg-primary': this.mode === 'ADD',
      'bg-danger': this.mode === 'DELETE'
    }"
    data-bs-toggle="dropdown"
    [attr.data-bs-target]="'#dropdownMenu-' + this._date?.toISOString()"
    aria-expanded="false"
  >
    <fa-icon
      [icon]="this.mode === 'ADD' ? this.faIcons.plus : this.faIcons.minus"
      class="fa-sm text-light"
    ></fa-icon>
  </button>
  <ul
    class="dropdown-menu"
    [attr.id]="'dropdownMenu-' + this._date?.toISOString()"
  >
    <li>
      <a
        class="dropdown-item d-flex align-items-center gap-2"
        (click)="openModal(dayworkModal)"
        [ngClass]="{ 'disabled-item': this.filteredEntries.day_works.length === 0 && mode === 'DELETE' }"
      >
        <fa-icon [icon]="faIcons.briefcase" class="fa-lg"></fa-icon>
        <span>{{ "Incarico" | translate }}</span>
      </a>
    </li>
    <li>
      <a
        class="dropdown-item d-flex align-items-center gap-2"
        (click)="openModal(requestModal)"
        [ngClass]="{ 'disabled-item': this.filteredEntries.requests.length === 0 && mode === 'DELETE' }"
      >
        <fa-icon [icon]="faIcons.request" class="fa-lg"></fa-icon>
        <span>{{ "Richiesta" | translate }}</span>
      </a>
    </li>
    <li>
      <a
        class="dropdown-item d-flex align-items-center gap-2"
        (click)="openModal(workingTripModal)"
        [ngClass]="{ 'disabled-item': this.filteredEntries.working_trips.length === 0 && mode === 'DELETE' }"
      >
        <fa-icon [icon]="faIcons.route" class="fa-lg"></fa-icon>
        <span>{{ "Trasferta" | translate }}</span>
      </a>
    </li>
    <li>
      <a
        class="dropdown-item d-flex align-items-center gap-2"
        (click)="openModal(availabilityModal)"
        [ngClass]="{ 'disabled-item': this.filteredEntries.availabilities.length === 0 && mode === 'DELETE' }"
      >
        <fa-icon [icon]="faIcons.bell" class="fa-lg"></fa-icon>
        <span>{{ "Reperibilità" | translate }}</span>
      </a>
    </li>
  </ul>
</div>

<app-working-trip-modal
  #working_trip_modal
  [isModifyMode]="isModalsModifyMode"
  [calendarEntries]="filteredEntries.working_trips || []"
></app-working-trip-modal>
<app-availability-modal
  #availability_modal
  [isModifyMode]="isModalsModifyMode"
  [calendarEntries]="filteredEntries.availabilities || []"
></app-availability-modal>
<app-request-modal
  #request_modal
  [isModifyMode]="isModalsModifyMode"
  [calendarEntries]="filteredEntries.requests || []"
></app-request-modal>
<app-daywork-modal
  #daywork_modal
  [date]="dayClicked"
  [dateString]="dayWorkDateTitle"
  [isModifyMode]="isModalsModifyMode"
  [calendarEntries]="filteredEntries.day_works || []"
></app-daywork-modal>
