.calendar-button{
  font-size: 0.9em;
}

.calendar-button-hover:hover{
  cursor: pointer;
  scale: (1.02);
  transition: all 0.1s ease;
}

/* .add-content-container .d-flex:hover  {
  cursor: pointer;

  fa-icon{
    color: vars.$primary;
    transform: scale(1.2);
    padding-left: 4px;
    transition: all 0.3s ease;
  }
} */
