<app-list-interaction
  [hasAddButtonPermission]="this.authService.isPrivilegedUser()"
  (addButtonClick)="openInvitationModal(inviteUserModal)"
  [addButtonName]="addButtonName"
>
  <ng-container other-buttons>
    <button
      class="btn btn-primary text-white"
      *ngIf="authService.isPrivilegedUser()"
      [disabled]="!authService.isPrivilegedUser()"
      (click)="openInvitationModal(inviteUserModal)"
    >
      {{ addButtonName | translate }}
    </button>
  </ng-container>
  <div class="row g-3" list-filters>
    <div class="col-md-4">
      <!-- Estrai in componente esterno - filtro di ricerca -->
      <label class="form-label fw-bold">
        <i class="fa-solid fa-search me-1"></i>
        {{ "Cerca Utente" | translate }}
      </label>
      <input
        type="text"
        class="form-control"
        placeholder="Cerca per nome..."
        [(ngModel)]="searchTerm"
        (input)="filterUsersBasicDetails()"
      />
    </div>
    <div class="col-md-4">
      <label class="form-label fw-bold"
        ><i class="fa fa-user me-2"></i>{{ "Ruolo" | translate }}</label
      >

      <p-multiSelect
        [options]="userRoles"
        placeholder="Seleziona..."
        [(ngModel)]="selectedRole"
        (onChange)="filterUsersBasicDetails()"
        [showToggleAll]="false"
        [showHeader]="false"
        [filter]="false"
        class="w-100 p-multiselect-sm"
        [style]="{ 'min-height': '32px', 'font-size': '0.85rem' }"
      >
      </p-multiSelect>
    </div>
  </div>
</app-list-interaction>
<!-- Invite user modal -->
<ng-template #inviteUserModal let-modal>
  <form #inviteForm="ngForm" (ngSubmit)="submitInviteUser(inviteForm)">
    <div class="modal-header">
      <div>
        <h3 class="modal-title" id="modal-basic-title">
          {{ "Invita Utente" | translate }}
        </h3>
        <span class="form-text">* Invita un nuovo utente in azienda</span>
      </div>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body border-0">
      <input
        type="text"
        id="email"
        class="form-control"
        placeholder="{{ 'Inserisci email utente' }}"
        [(ngModel)]="toInviteUserEmail"
        name="email"
        #emailControl="ngModel"
        required
        email
      />
      <div
        *ngIf="
          emailControl.invalid && (emailControl.dirty || emailControl.touched)
        "
        class="text-danger mt-1 small"
      >
        <span *ngIf="emailControl.errors?.['required']">
          L'email è richiesta.
        </span>
        <span *ngIf="emailControl.errors?.['email']">
          Inserisci un formato email valido.
        </span>
      </div>
      <span
        *ngIf="invitationFeedBack"
        [ngClass]="{
          'text-danger': !this.invitationFeedBack.positive,
          'text-primary': this.invitationFeedBack.positive
        }"
        class="small"
        >{{ invitationFeedBack.message }}</span
      >
    </div>
    <div class="modal-footer">
      <app-button
        [name]="'Annulla'"
        [mode]="'UNDO'"
        [type]="'button'"
        (buttonClick)="modal.close()"
      ></app-button>
      <app-button
        [name]="'Invia Invito'"
        [mode]="'SAVE'"
        [type]="'submit'"
        [buttonDisabled]="inviteForm.invalid ?? false"
      ></app-button>
    </div>
  </form>
</ng-template>
