<div class="container-fluid requests-approval-page">
  <ul
    ngbNav
    #nav="ngbNav"
    class="nav-tabs"
    role="tablist"
    [(activeId)]="activeTab"
  >
    <li [ngbNavItem]="'open'">
      <button ngbNavLink type="button">
        Richieste aperte
        <span class="badge bg-secondary ms-2">{{ openRequests.length }}</span>
      </button>
      <ng-template ngbNavContent></ng-template>
    </li>
    <li [ngbNavItem]="'closed'">
      <button ngbNavLink type="button">
        Richieste chiuse
        <span class="badge bg-secondary ms-2">{{ closedRequests.length }}</span>
      </button>
      <ng-template ngbNavContent></ng-template>
    </li>
  </ul>
  <div class="mt-3">
    <ng-container [ngSwitch]="activeTab">
      <ng-container *ngSwitchCase="'open'">
        <div *ngIf="loading" class="alert alert-info mt-3" role="status">
          Caricamento richieste...
        </div>
        <app-requests-table *ngIf="!loading"
          class="d-block"
          [data]="openRequests"
          emptyMessage="Nessuna richiesta aperta"
          [maxPages]="5"
        ></app-requests-table>
      </ng-container>
      <ng-container *ngSwitchCase="'closed'">
        <div *ngIf="loading" class="alert alert-info mt-3" role="status">
          Caricamento richieste...
        </div>
        <app-requests-table *ngIf="!loading"
          class="d-block"
          [data]="closedRequests"
          [showStatusColumn]="true"
          emptyMessage="Nessuna richiesta chiusa"
          [maxPages]="5"
        ></app-requests-table>
      </ng-container>
    </ng-container>
  </div>
</div>
