<div class="container-fluid requests-approval-page">
  <ul
    ngbNav
    #nav="ngbNav"
    class="nav-tabs"
    role="tablist"
    [(activeId)]="activeTab"
    (activeIdChange)="onTabChange($event)"
  >
    <li [ngbNavItem]="'open'">
      <button ngbNavLink type="button">
        {{"Richieste aperte" | translate}}
        <span class="badge bg-secondary-subtle px-1 ms-1 text-black">{{ openClosedCount?.OPEN }}</span>
      </button>
      <ng-template ngbNavContent></ng-template>
    </li>
    <li [ngbNavItem]="'closed'">
      <button ngbNavLink type="button">
        {{"Richieste chiuse" | translate}}
        <span class="badge bg-secondary-subtle px-1 ms-1 text-black">{{ openClosedCount?.CLOSED }}</span>
      </button>
      <ng-template ngbNavContent></ng-template>
    </li>
  </ul>
  <div class="mt-3">
    <ng-container [ngSwitch]="activeTab">
      <ng-container *ngSwitchCase="'open'">
        <div
          *ngIf="tabState.open.loading && !tabState.open.initialized"
          class="alert alert-info mt-3 text-center"
          role="status"
        >
          {{"Caricamento richieste" | translate}}...
        </div>
        <app-requests-table
          class="d-block"
          [data]="tabState.open.rows"
          emptyMessage="Nessuna richiesta aperta"
          [pageSize]="tabState.open.size"
          [totalItems]="tabState.open.total"
          [filters]="tabState.open.filters"
          [userOptions]="isPrivilegedUser ? userOptionsByTab.open : []"
          [currentPage]="tabState.open.page + 1"
          [serverPagination]="true"
          (pageChange)="onPageChange('open', $event)"
          (rowSelected)="onRowSelected($event)"
          (filtersChange)="onFiltersChange('open', $event)"
        ></app-requests-table>
      </ng-container>
      <ng-container *ngSwitchCase="'closed'">
        <div
          *ngIf="tabState.closed.loading && !tabState.closed.initialized"
          class="alert alert-info mt-3 text-center"
          role="status"
        >
          {{"Caricamento richieste" | translate}}...
        </div>
        <app-requests-table
          class="d-block"
          [data]="tabState.closed.rows"
          [showStatusColumn]="true"
          emptyMessage="Nessuna richiesta chiusa"
          [pageSize]="tabState.closed.size"
          [totalItems]="tabState.closed.total"
          [filters]="tabState.closed.filters"
          [userOptions]="isPrivilegedUser ? userOptionsByTab.closed : []"
          [currentPage]="tabState.closed.page + 1"
          [serverPagination]="true"
          (pageChange)="onPageChange('closed', $event)"
          (rowSelected)="onRowSelected($event)"
          (filtersChange)="onFiltersChange('closed', $event)"
        ></app-requests-table>
      </ng-container>
    </ng-container>
  </div>
</div>
