<form [formGroup]="profileForm" (ngSubmit)="onProfileFormSubmit()">
  <div class="row gx-5 gy-4 ">
    <div class="col-lg-6">
      <label for="name" class="form-label fw-semibold fs-5">{{"Nome" | translate}}</label>
      <input type="text" class="form-control shadow-sm border-dark border-1 rounded-3" id="name" formControlName="name">
    </div>
    <div class="col-lg-6">
      <label for="surname" class="form-label fw-semibold fs-5">{{"Cognome" | translate}}</label>
      <input type="text" class="form-control shadow-sm border-dark border-1 rounded-3" id="surname" formControlName="surname">
    </div>
    <div class="col-lg-6">
      <label for="serial-number" class="fw-semibold fs-5">{{"Numero di matricola" | translate}}</label>
      <input type="number" class="form-control shadow-sm border-dark border-1 rounded-3" id="serial-number" formControlName="serial_num">
    </div>
    <div class="col-lg-6">
      <label for="serial-number" class="fw-semibold fs-5">{{"Mansione" | translate}}</label>
      <input type="text" class="form-control shadow-sm border-dark border-1 rounded-3" formControlName="duty">
    </div>
    <div class="col-lg-6">
      <label for="serial-number" class="fw-semibold fs-5">{{"Tipo d'impiego" | translate}}</label>
      <input type="text" class="form-control shadow-sm border-dark border-1 rounded-3" formControlName="employment_type">
    </div>
    <div class="col-lg-6">
      <label for="serial-number" class="fw-semibold fs-5">{{"Data di assunzione" | translate}}</label>
      <input type="date" class="form-control shadow-sm border-dark border-1 rounded-3" formControlName="hire_date">
    </div>
    <div class="col-lg-6">
      <label for="serial-number" class="fw-semibold fs-5">{{"E-mail" | translate}}</label>
      <input type="email" class="form-control shadow-sm border-dark border-1 rounded-3" formControlName="email">
    </div>
    <div class="col-lg-6">
      <label for="serial-number" class="fw-semibold fs-5">{{"Iban" | translate}}</label>
      <input type="number" class="form-control shadow-sm border-dark border-1 rounded-3" formControlName="iban">
    </div>
    <div class="col-12">
      <span class="text-primary fw-semibold fs-4">{{"Dati personali" | translate}}</span>
    </div>
    <div class="col-lg-6">
      <label for="serial-number" class="fw-semibold fs-5">{{"Data di nascita" | translate}}</label>
      <input type="date" class="form-control shadow-sm border-dark border-1 rounded-3" formControlName="birth_date">
    </div>
    <div class="col-lg-6">
      <label for="serial-number" class="fw-semibold fs-5">{{"Indirizzo" | translate}}</label>
      <input type="text" class="form-control shadow-sm border-dark border-1 rounded-3" formControlName="address">
    </div>
    <div class="col-lg-6">
      <label for="serial-number" class="fw-semibold fs-5">{{"Telefono" | translate}}</label>
      <input type="tel" class="form-control shadow-sm border-dark border-1 rounded-3" formControlName="phone">
    </div>
    <div class="col-lg-6 d-flex align-items-end">
      <button class="btn btn-primary btn-lg w-100 rounded-3 fw-bold text-white">{{'Aggiorna il profilo' | translate}}</button>
    </div>
  </div>
</form>
