.item{
  display: grid;
  grid-template-columns: 30px auto;
  align-items: baseline;
  margin-bottom: 9px;
}

.item:hover a{
  cursor: pointer;
  opacity: 0.7;
}

.is-active{
  color: #13ad6a !important;
}
