<div class="">
  <div class="d-flex align-items-center gap-2">
    <h5 class="text-primary">{{ getRequestTitle() | translate }}</h5>
    <span
      class="badge bg-secondary-subtle text-muted mb-1"
      *ngIf="visualizeNumber"
      >{{ requests.totalElements }}</span
    >
    <i
      class="fa-solid fa-arrow-up-right-from-square mb-1 external-link"
      (click)="redirectToRequests(requestMode)"
    ></i>
  </div>

  <div class="ps-2 border border-top-0 border-end-0 border-bottom-0">
    <i *ngIf="!requests.content?.length" class="text-muted">{{
      "Nessuna richiesta presente" | translate
    }}</i>
    <span
      *ngFor="let request of requests.content"
      class="d-block reqeust-preview"
      [attr.id]="request.id"
      (click)="onRequestClick(request)"
      ><span class="text-muted">{{ request.userEmail + "&nbsp;" }}</span
      >{{ "ha richiesto" | translate }}
      <span
        *ngIf="
          !dateService.areDatesEqual(request.dateFrom, request.dateTo);
          else singleDate
        "
      >
        <span class="fw-medium">{{ request.type ?? "" | translate }}</span>
        {{ "da" | translate }}
        <span class="text-muted">{{
          dateService.formatDateTimeBasedOnRequest(request.dateFrom, request.type)
        }}</span>
        {{ "a" | translate }}
        <span class="text-muted">{{
          dateService.formatDateTimeBasedOnRequest(request.dateTo, request.type)
        }}</span>
      </span>
      <ng-template #singleDate>
        <span class="fw-medium">{{ request.type ?? "" | translate }}</span>
        {{ "per il" | translate }}
        <span class="text-muted">{{
          dateService.formatDateTimeBasedOnRequest(request.dateFrom, request.type, true)
        }}</span>
        <span *ngIf="request.type !== 'FERIE' && request.type !== 'TRASFERTA'">
          {{ "dalle" | translate }}
          <span>{{ dateService.getTimeFromDate(request.dateFrom) }}</span>
          {{ "alle" | translate }}
          <span>{{ dateService.getTimeFromDate(request.dateTo) }}</span>
        </span>
      </ng-template>
    </span>
    <span *ngIf="!requests.last" class="text-muted">{{ "..." }}</span>
  </div>
</div>
