<div class="d-flex gap-2 align-items-center mb-2">
<button
  type="button"
  class="btn "
  [ngClass]="{ 'btn-secondary': !areFiltersCollapsed, 'btn-outline-secondary': areFiltersCollapsed }"
  (click)="areFiltersCollapsed = !areFiltersCollapsed"
>
  {{  areFiltersCollapsed ? ('Mostra Filtri' | translate) : ('Nascondi Filtri' | translate) }}
</button>
<button class="btn btn-primary text-white" *ngIf="authService.isAdmin()" [disabled]="!authService.isAdmin()">
  {{ "Aggiungi Progetto" | translate }}
</button>
</div>

<div class="card shadow-sm mb-4" [(ngbCollapse)]="areFiltersCollapsed">
  <div class="card-body">
    <div class="row g-3">
      <!-- Filtro per nome -->
      <div class="col-md-4" [ngClass]="{ 'col-md-8': !authService.isAdmin() }">
        <label for="searchInput" class="form-label mb-2">
          <i class="fa-solid fa-search"></i>
          {{ "Cerca Progetto" | translate }}
        </label>
        <input
          id="searchInput"
          type="text"
          class="form-control"
          placeholder="{{ 'Cerca per nome...' | translate }}"
          [(ngModel)]="searchTerm"
          (input)="onSearchChange()"
        />
      </div>

      <!-- Filtro per stato -->
      <div class="col-md-4">
        <label for="statusFilter" class="form-label mb-2">
          <i class="fa fa-bars-progress me-1"></i>
          {{ "Filtra per stato" | translate }}
        </label>
        <select
          id="statusFilter"
          class="form-select"
          [(ngModel)]="selectedStatus"
          (change)="onStatusChange()"
        >
          <option *ngFor="let status of projectStatuses" [value]="status.value">
            {{ status.label }}
          </option>
        </select>
      </div>

      <!-- Filtro per assegnatario -->
      <div class="col-md-4" *ngIf="authService.isAdmin()">
        <label for="assignedToFilter" class="form-label mb-2">
          <i class="fa fa-user me-1"></i>
          {{ "Filtra per assegnatario" | translate }}
        </label>
        <select
          id="assignedToFilter"
          class="form-select"
          [(ngModel)]="selectedAssignedTo"
          (change)="onAssignedToChange()"
        >
          <option value="ALL">Tutti</option>
          <option *ngFor="let user of assignedToList" [value]="user">
            {{ user }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
