<div class="d-flex gap-2 align-items-center mb-2">
  <button
    type="button"
    class="btn text-center"
    [ngClass]="{
      'btn-secondary': !areFiltersCollapsed,
      'btn-outline-secondary': areFiltersCollapsed
    }"
    (click)="areFiltersCollapsed = !areFiltersCollapsed"
  >
    <i class="fa-regular fa-filter fa-xs me-1" size></i>
    {{
      areFiltersCollapsed
        ? ("Mostra Filtri" | translate)
        : ("Nascondi Filtri" | translate)
    }}
  </button>
  <button
    class="btn btn-primary text-white"
    *ngIf="authService.isAdmin()"
    [disabled]="!authService.isAdmin()"
    (click)="openAddProjectModal(addProjectModal)"
  >
    {{ "Aggiungi Progetto" | translate }}
  </button>
  <ng-template #addProjectModal let-modal>
    <div class="modal-header">
      <div>
        <h3 class="modal-title" id="modal-basic-title">
          {{ "Aggiungi Progetto" | translate }}
        </h3>
        <span class="form-text">* Inserisci un nuovo progetto</span>
      </div>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <app-project-form></app-project-form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-primary text-white"
        (click)="modal.close('Save click')"
      >
        Save
      </button>
    </div>
  </ng-template>
</div>

<div class="card shadow-sm mb-4" [(ngbCollapse)]="areFiltersCollapsed">
  <div class="card-body">
    <div class="row g-3">
      <!-- Filtro per nome -->
      <div class="col-md-4" [ngClass]="{ 'col-md-8': !authService.isAdmin() }">
        <label for="searchInput" class="form-label mb-2">
          <i class="fa-solid fa-search"></i>
          {{ "Cerca Progetto" | translate }}
        </label>
        <input
          id="searchInput"
          type="text"
          class="form-control"
          placeholder="{{ 'Cerca per nome...' | translate }}"
          [(ngModel)]="searchTerm"
          (input)="onSearchChange()"
        />
      </div>

      <!-- Filtro per stato -->
      <div class="col-md-4">
        <label for="statusFilter" class="form-label mb-2">
          <i class="fa fa-bars-progress me-1"></i>
          {{ "Filtra per stato" | translate }}
        </label>
        <select
          id="statusFilter"
          class="form-select"
          [(ngModel)]="selectedStatus"
          (change)="onStatusChange()"
        >
          <option *ngFor="let status of projectStatuses" [value]="status.value">
            {{ status.label }}
          </option>
        </select>
      </div>

      <!-- Filtro per assegnatario -->
      <div class="col-md-4" *ngIf="authService.isAdmin()">
        <label for="assignedToFilter" class="form-label mb-2">
          <i class="fa fa-user me-1"></i>
          {{ "Filtra per assegnatario" | translate }}
        </label>
        <select
          id="assignedToFilter"
          class="form-select"
          [(ngModel)]="selectedAssignedTo"
          (change)="onAssignedToChange()"
        >
          <option value="ALL">Tutti</option>
          <option *ngFor="let user of assignedToList" [value]="user">
            {{ user }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
