<div class=" d-none d-lg-block py-5 px-4 h-100" id="side_nav">
  <div class="header-box">
    <ul class="list-unstyled">
      <li class="item">
        <i class="fa-solid fa-house fa-lg"></i>
        <a class="text-decoration-none text-dark h1 fs-5 align-bottom" routerLink="/app/home" [routerLinkActive]="'is-active'" [routerLinkActiveOptions]="{ exact: true }">{{"Home" | translate}}</a>
      </li>
      <li class="item">
        <i class="fa-solid fa-user fa-lg"></i>
        <a class="text-decoration-none text-dark h1 fs-5 align-bottom" routerLink="/app/profile" [routerLinkActive]="'is-active'" [routerLinkActiveOptions]="{ exact: true }">{{"Il mio profilo" | translate}}</a>
      </li>
      <li class="item">
        <i class="fa-solid fa-file fa-lg"></i>
        <a class="text-decoration-none text-dark h1 fs-5 align-bottom" routerLink="/app/docs">{{"Documenti" | translate}}</a>
      </li>
      <li class="item">
        <i class="fa-regular fa-calendar fa-lg"></i>
        <a class="text-decoration-none text-dark h1 fs-5 align-bottom" routerLink="/app/attendance" [routerLinkActive]="'is-active'" [routerLinkActiveOptions]="{ exact: true }">{{"Presenze" | translate}}</a>
      </li>
      <li class="item">
        <i class="fa-solid fa-diagram-project"></i>
        <a class="text-decoration-none text-dark h1 fs-5 align-bottom" routerLink="/app/projects" [routerLinkActive]="'is-active'" [routerLinkActiveOptions]="{ exact: true }">{{"Progetti" | translate}}</a>
      </li>
      <li class="item">
        <i class="fa-regular fa-clipboard fa-lg"></i>
        <a class="text-decoration-none text-dark h1 fs-5 align-bottom" routerLink="/app/shlist">{{"Nota spesa" | translate}}</a>
      </li>
      <li class="item">
        <i class="fa-solid fa-bullseye fa-lg"></i>
        <a class="text-decoration-none text-dark h1 fs-5 align-bottom" routerLink="/app/goals">{{"Obiettivi" | translate}}</a>
      </li>
      <li class="item">
        <i class="fa-solid fa-trophy fa-lg"></i>
        <a class="text-decoration-none text-dark h1 fs-5 align-bottom" routerLink="/app/awards">{{"Premi" | translate}}</a>
      </li>
    </ul>
  </div>
</div>

