<div class="d-none d-lg-block py-5 px-4 h-100" id="side_nav">
  <div class="header-box">
    <ul class="list-unstyled">
      <app-sidebar-item
        [name]="'Home'"
        [route]="'/app/home'"
        [icon]="faHouse"
      >
      </app-sidebar-item>

      <app-sidebar-item
        [name]="'Il mio profilo'"
        [route]="'/app/profile'"
        [icon]="faUser"
        [queryParams]="{mode: 'ME'}"
      >
      </app-sidebar-item>

      <app-sidebar-item
        [name]="'Presenze'"
        [route]="'/app/attendance'"
        [icon]="faCalendar"
      >
      </app-sidebar-item>

      <app-sidebar-item
        [name]="'Progetti'"
        [route]="'/app/projects'"
        [icon]="faDiagramProject"
      >
      </app-sidebar-item>

      <app-sidebar-item
        [name]="'Utenti'"
        [route]="'/app/users-management'"
        [icon]="faUsers"
      >
      </app-sidebar-item>
    </ul>
  </div>
</div>
