<div class="card h-100 shadow-sm hover-shadow transition project-list-item">
  <div
    class="card-header bg-white text-black d-flex justify-content-between align-items-center"
  >
    <h5 class="mb-0 text-truncate" [title]="project?.name">
      <i class="bi bi-folder2-open me-2"></i>
      {{ project?.name }}
    </h5>
    <span class="badge" [ngClass]="getStatusClass(project?.status)">
      {{ getStatusLabel(project?.status) }}
    </span>
  </div>

  <div class="card-body">
    <p class="card-text text-muted mb-3">
      {{ project?.summary }}
    </p>

    <div class="mb-3" *ngIf="authService.isAdmin()">
      <ng-container *ngIf="project?.assignedTo?.length; else notAssigned">
        <h6 class="mb-2">Assegnato a:</h6>
        <div class="d-flex flex-wrap gap-1">
          <span
            *ngFor="let email of project?.assignedTo"
            class="badge bg-light text-dark border"
            [title]="email"
          >
            <i class="fa-solid fa-user me-1"></i>
            {{ email }}
          </span>
        </div>
        <small class="text-muted d-block mt-1">
          {{ project?.assignedTo?.length }}
          {{ project?.assignedTo?.length === 1 ? "utente" : "utenti" }}
        </small>
      </ng-container>

      <ng-template #notAssigned>
        <h6 class="mb-2">Assegnato a:</h6>
        <div class="fst-italic text-muted">Ancora non assegnato</div>
      </ng-template>
    </div>
  </div>

  <!-- <div class="card-footer bg-white border-top">
              <div class="d-flex justify-content-end">
                <button
                  class="btn btn-sm btn-primary text-white fw-semibold"
                  (click)="viewProject(project)"
                  title="Visualizza"
                >
                  Visualizza
                </button>
              </div>
            </div> -->
</div>
