<a
  class="nav-link dropdown-toggle"
  href="#"
  id="navbarDropdownMenuLink"
  role="button"
  data-bs-toggle="dropdown"
>
  <i class="fa-solid fa-user fa-lg"></i>
</a>
<ul class="dropdown-menu dropdown-menu-end">
  <li>
    <a
      class="dropdown-item"
      routerLink="{{ APP_ROUTES.PROFILE }}"
      [queryParams]="{ mode: 'ME' }"
      >{{ "Il mio profilo" | translate }}</a
    >
  </li>
  <li class="dropdown-divider"></li>
  <li>
    <a class="dropdown-item" routerLink="{{ APP_ROUTES.LOGIN }}"
      ><b>{{ "Logout" }}</b></a
    >
  </li>
</ul>
