<div *ngIf="!authService.isOwner()">
  <div class="d-flex align-items-center justify-content-evenly gap-2 flex-wrap">
    <app-stat
      [title]="'Ferie Rimanenti'"
      [statName]="'giorni'"
      [referenceMax]="12"
      [value]="userVacationHours?.annualLeaveDays ?? 0"
    ></app-stat>
    <app-stat
      [title]="'Permessi rimanenti'"
      [statName]="'ore'"
      [referenceMax]="40"
      [value]="userVacationHours?.annualPermitHours ?? 0"
    ></app-stat>
    <app-stat [title]="'Richieste aperte'" [referenceMax]="15" [value]="requestsByTab['OPEN'].totalElements ?? 0"></app-stat>
    <app-stat [title]="'Richieste chiuse'" [referenceMax]="15" [value]="requestsByTab['CLOSED'].totalElements ?? 0"></app-stat>
  </div>
  <hr class="mt-5" />
</div>
<div class="container-fluid">
  <div class="row row-cols-2">
    <app-requests-preview [requestMode]="'OPEN'" [requests]="requestsByTab['OPEN']" [visualizeNumber]="authService.isOwner()"></app-requests-preview>
    <app-requests-preview [requestMode]="'CLOSED'" [requests]="requestsByTab['CLOSED']" [visualizeNumber]="authService.isOwner()"></app-requests-preview>
  </div>
</div>
