@import '../../../../vars.scss';

.home{
  font-size: 20px;
  width: 100%;
}

.stats{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* .profile-stats:last-child{
  margin-right: 70px;
} */

.stat{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: bold;
}

.stat p{
  color: black;
  font-weight: bold;
}
.stat:last-child{
  margin-right: 120px;
}

.circle{
  background-color: #13ad6a;;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 6px 2px rgba(0, 0, 0, 0.25);
}

.orange{
  background-color: rgb(255, 145, 0);
}


/* .pending-requests{
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
}

.requests-type{
  color: #15c478;
  font-weight: bold;
}

.received-requests{
  grid-row: 4 / span 1;
  grid-column: 1 / span 1;
}

.pending-requests, .received-requests{
  margin-left: 8px;
}

app-requests-list{
  width: 100%;
  height: 100%;
} */
