<ng-template #modal let-modal>
  <div *ngIf="!isModifyMode; else modify_modal">
    <div class="modal-header">
      <div>
        <h2 class="modal-title" id="modal-basic-title">
          {{ "Aggiungi trasferta" | translate }}
        </h2>
        <span id="emailHelp" class="form-text"
          >* Inserire la data per la trasferta</span
        >
      </div>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <form action="" [formGroup]="form" (ngSubmit)="submitNewEntry()">
      <div class="modal-body">
        <div class="mb-3 d-flex gap-4 text-primary">
          <div>
            <label for="dateFrom" class="form-label h5">{{
              "Da" | translate
            }}</label>
            <input
              type="date"
              class="form-control"
              id="dateFrom"
              formControlName="dateFrom"
            />
            <app-form-error
              [formControlRef]="dateFrom"
              [validator]="'required'"
              [errorText]="'Seleziona la data di inizio'"
            ></app-form-error>
          </div>
          <div>
            <label for="dateTo" class="form-label h5">{{
              "A" | translate
            }}</label>
            <input
              type="date"
              class="form-control"
              id="dateTo"
              formControlName="dateTo"
            />
            <app-form-error
              [formControlRef]="dateTo"
              [validator]="'required'"
              [errorText]="'Seleziona la data di fine'"
            ></app-form-error>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <app-button
          [type]="'button'"
          [mode]="'UNDO'"
          [name]="'Annulla'"
          (buttonClick)="modal.close('Close click')"
        ></app-button>
        <app-button
          [type]="'submit'"
          [mode]="'SAVE'"
          [name]="'Salva'"
          (buttonClick)="modal.close('Save click')"
          [buttonDisabled]="form.invalid"
        ></app-button>
      </div>
    </form>
  </div>
  <!-- template Modale richiamato quando si è in modalità modifica -->
  <ng-template #modify_modal>
    <div class="modal-header">
      <div>
        <h2 class="modal-title" id="modal-basic-title">
          {{ "Modifica trasferta" | translate }}
        </h2>
        <span id="emailHelp" class="form-text">
          * {{ "Modificare le trasferte" | translate }}
        </span>
      </div>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>

    <form [formGroup]="form" (ngSubmit)="submitModifyModeForm()">
      <div class="modal-body">
        <div class="accordion" formArrayName="working_trips">
          <div
            class="accordion-item"
            *ngFor="let workingTrip of workingTrips.controls; let i = index"
            [formGroupName]="i"
          >
            <!-- HEADER -->
            <h2 class="accordion-header">
              <button
                class="accordion-button d-flex gap-2 align-items-center"
                [ngClass]="{
                  collapsed: activePanelIndex !== i,
                  'delete-mode': toDeleteEntries.includes(workingTrip.value.id)
                }"
                type="button"
                (click)="togglePanel(i)"
              >
                <strong>#{{ i + 1 }} {{ "Trasferta" | translate }}</strong>
                <app-card-badge
                  [labelMap]="statusLabelMap"
                  [classMap]="statusClassMap"
                  [mapValue]="workingTrip.value.status"
                ></app-card-badge>
              </button>
            </h2>

            <!-- COLLAPSE (solo Angular) -->
            <div
              class="accordion-collapse collapse"
              [ngClass]="{ show: activePanelIndex === i }"
            >
              <div class="accordion-body">
                <!-- ROW INPUTS -->
                <div class="mb-3 d-flex gap-4 text-primary">
                  <!-- DATE FROM -->
                  <div>
                    <label class="form-label h5">{{ "Da" | translate }}</label>
                    <input
                      type="date"
                      class="form-control"
                      formControlName="dateFrom"
                    />
                    <app-form-error
                      [formControlRef]="workingTrips.at(i).get('dateFrom')"
                      validator="required"
                      errorText="Seleziona la data di inizio"
                    ></app-form-error>
                  </div>

                  <!-- DATE TO -->
                  <div>
                    <label class="form-label h5">{{ "A" | translate }}</label>
                    <input
                      type="date"
                      class="form-control"
                      formControlName="dateTo"
                    />
                    <app-form-error
                      [formControlRef]="workingTrips.at(i).get('dateTo')"
                      validator="required"
                      errorText="Seleziona la data di fine"
                    ></app-form-error>
                  </div>

                  <!-- DELETE BUTTON -->
                  <div
                    class="d-flex align-items-end"
                    *ngIf="workingTrip.get('status')?.value === 'PENDING'"
                  >
                    <button
                      class="rounded bg-danger btn btn-icon"
                      type="button"
                      (click)="toggleEntryDelete(workingTrip.value, i)"
                    >
                      <fa-icon
                        [icon]="faIcons.xSimbol"
                        class="fa-sm text-light"
                      ></fa-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <app-button
          [type]="'button'"
          [mode]="'UNDO'"
          [name]="'Annulla'"
          (buttonClick)="modal.close('Close click')"
        ></app-button>

        <app-button
          [type]="'submit'"
          [mode]="'SAVE'"
          [name]="'Modifica'"
          [buttonDisabled]="form.invalid"
        ></app-button>
      </div>
    </form>
  </ng-template>
</ng-template>
