<app-list-interaction
  [hasAddButtonPermission]="this.authService.isPrivilegedUser()"
  (addButtonClick)="openInvitationModal(inviteUserModal)"
  [addButtonName]="addButtonName"
>
  <div class="row g-3" list-filters>
    <div class="col-md-4">
      <!-- Estrai in componente esterno - filtro di ricerca -->
      <label class="form-label fw-bold">
        <i class="fa-solid fa-search me-1"></i>
        {{ "Cerca Utente" | translate }}
      </label>
      <input
        type="text"
        class="form-control"
        placeholder="Cerca per nome..."
        [(ngModel)]="searchTerm"
        (input)="filterUsersBasicDetails()"
      />
    </div>
    <div class="col-md-4">
      <label class="form-label fw-bold"
        ><i class="fa fa-user me-2"></i>{{ "Ruolo" | translate }}</label
      >

      <p-multiSelect
        [options]="userRoles"
        placeholder="Seleziona..."
        [(ngModel)]="selectedRole"
        (onChange)="filterUsersBasicDetails()"
        [showToggleAll]="false"
        [showHeader]="false"
        [filter]="false"
        class="w-100 p-multiselect-sm"
        [style]="{ 'min-height': '32px', 'font-size': '0.85rem' }"
      >
      </p-multiSelect>
    </div>
  </div>
</app-list-interaction>
<!-- Invite user modal -->
<ng-template #inviteUserModal let-modal>
  <div class="modal-header">
    <div>
      <h3 class="modal-title" id="modal-basic-title">
        {{ "Invita Utente" | translate }}
      </h3>
      <span class="form-text">* Invita un nuovo utente in azienda</span>
    </div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body border-0">
      <input
        type="text"
        id="email"
        class="form-control"
        placeholder="{{ 'Inserisci email utente' }}"
        [(ngModel)]="toInviteUserEmail"
      />
    <span
      *ngIf="invitationFeedBack"
      [ngClass]="{
        'text-danger': !this.invitationFeedBack.positive,
        'text-primary': this.invitationFeedBack.positive
      }"
      >{{ invitationFeedBack.message }}</span
    >
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">
      {{ "Annulla" | translate }}
    </button>
    <button
      type="button"
      class="btn btn-primary text-white"
      (click)="submitInviteUser()"
    >
      
      {{ "Invia Invito" | translate }}
    </button>
  </div>
</ng-template>
