<!-- Template modificato per risolvere l'overflow -->
<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="p-2 custom-cell-template">
    <div class="mb-3">
      <div class="d-flex justify-content-between">
        <span class="h4 day-number">{{
          day.date | calendarDate : "monthViewDayNumber" : locale
        }}</span>
        <div class="d-flex">
          <app-interactive-button
            [mode]="'ADD'"
            [date]="day.date"
            [dayWorkDateTitle]="dayWorkDateTitle"
            [dayClicked]="dayClicked"
          ></app-interactive-button>
          <app-interactive-button
            [mode]="'DELETE'"
            [date]="day.date"
            [modalCalendarEntries]="calendarEntries"
            [dayWorkDateTitle]="dayWorkDateTitle"
            [dayClicked]="dayClicked"
          ></app-interactive-button>
        </div>
      </div>
    </div>
    <div class="text-center mb-3">
      <span class="fw-semibold text-muted">
        {{ "Ore lavorate" | translate }}:
      </span>
      <span class="fw-bold">
        {{ calculateHoursWorked(day.date) }}
      </span>
    </div>
    <div class="flex-grow-1 overflow-auto">
      <div class="d-flex flex-column gap-2">
        <app-day-cell-notif
          [icon]="faIcons.briefcase"
          [text]="'incarichi' | translate"
          [notifType]="'WORKING_DAY'"
          [date]="day.date"
          [dateString]="dayWorkDateTitle"
          [modalCalendarEntries]="dayWorksEntries"
          [modalModify]="true"
        ></app-day-cell-notif>
        <app-day-cell-notif
          [icon]="faIcons.request"
          [text]="'richieste' | translate"
          [notifType]="'REQUEST'"
          [date]="day.date"
          [modalCalendarEntries]="requestsEntries"
          [modalModify]="true"
        ></app-day-cell-notif>
        <app-day-cell-notif
          [icon]="faIcons.route"
          [text]="'trasferte' | translate"
          [notifType]="'WORKING_TRIP'"
          [date]="day.date"
          [modalCalendarEntries]="workingTripsEntries"
          [modalModify]="true"
        ></app-day-cell-notif>
        <app-day-cell-notif
          [icon]="faIcons.bell"
          [text]="'reperibilità' | translate"
          [notifType]="'AVAILABILITY'"
          [date]="day.date"
          [modalCalendarEntries]="availabilitiesEntries"
          [modalModify]="true"
        ></app-day-cell-notif>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #customHedaerTemplate let-days="days">
  <div class="d-flex justify-content-around bg-primary p-1 text-light fw-bold">
    <div
      *ngFor="let day of days; trackBy: trackByDate"
      class="custom-header text-truncate"
    >
      {{ weekDayNames[day.day] | translate }}
    </div>
  </div>
</ng-template>

<!-- Layout calendario modificato -->
<div class="calendar-container">
  <div class="calendar-header-section">
    <div class="row mb-2">
      <div class="col-11">
        <div class="d-flex justify-content-center gap-4">
          <button (click)="previous()" class="calendar-btn" type="button">
            <fa-icon [icon]="faIcons.arrowLeft" class="fa-lg"></fa-icon>
          </button>
          <h2>{{ currentMonthYear | translate }}</h2>
          <button (click)="next()" class="calendar-btn" type="button">
            <fa-icon [icon]="faIcons.arrowRight" class="fa-lg"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="calendar-content">
    <div class="calendar-main-view">
      <div class="row calendar-row">
        <div class="calendar-col p-0">
          <mwl-calendar-month-view
            [viewDate]="viewDate"
            [events]="events"
            [cellTemplate]="customCellTemplate"
            [headerTemplate]="customHedaerTemplate"
            [locale]="'en'"
            (dayClicked)="setDateForModals($event)"
          >
          </mwl-calendar-month-view>
        </div>
      </div>
    </div>
    <div class="calendar-sidebar mx-2">
      <div class="d-flex flex-column gap-1">
        <button
          class="d-flex gap-2 align-items-center calendar-btn"
          (click)="openAddModal(requestModal)"
          role="button"
          tabindex="0"
          (keydown.enter)="openAddModal(requestModal)"
          (keydown.space)="openAddModal(requestModal)"
        >
          <fa-icon [icon]="faIcons.plus" class="fa-lg"></fa-icon>
          <span class="text-black">{{ "Richiesta" | translate }}</span>
        </button>
        <button
          class="d-flex gap-2 align-items-center calendar-btn"
          (click)="openAddModal(availabilityModal)"
          role="button"
          tabindex="0"
          (keydown.enter)="openAddModal(availabilityModal)"
          (keydown.space)="openAddModal(availabilityModal)"
        >
          <fa-icon [icon]="faIcons.plus" class="fa-lg"></fa-icon>
          <span class="text-black">{{ "Reperibilità" | translate }}</span>
        </button>
        <button
          class="d-flex gap-2 align-items-center calendar-btn"
          (click)="openAddModal(workingTripModal)"
          role="button"
          tabindex="0"
          (keydown.enter)="openAddModal(workingTripModal)"
          (keydown.space)="openAddModal(workingTripModal)"
        >
          <fa-icon [icon]="faIcons.plus" class="fa-lg"></fa-icon>
          <span class="text-black">{{ "Trasferta" | translate }}</span>
        </button>
      </div>
    </div>
  </div>
</div>

<app-working-trip-modal #working_trip_modal></app-working-trip-modal>
<app-availability-modal #availability_modal></app-availability-modal>
<app-request-modal #request_modal></app-request-modal>
