<ng-template #actionsTemplate let-row>
  <app-ngb-options
    [dropdownOptions]="generateOptions(row)"
    [buttonClass]="'border-0 py-0 px-2'"
    (mwlClick)="$event.preventDefault()"
  ></app-ngb-options>
</ng-template>

<ng-template #userTemplate let-row>
  <a
    href="javascript:void(0)"
    class="text-decoration-none"
    (click)="onUserClick(row, $event)"
    title="{{ row.user }}"
  >
    {{ row.user }}
  </a>
</ng-template>

<ng-template #statusTemplate let-row>
  <app-card-badge
      *ngIf="tab.toUpperCase() === 'CLOSED'"
      [labelMap]="statusLabelMap"
      [classMap]="statusClassMap"
      [mapValue]="row.status"
    ></app-card-badge>
</ng-template>

<app-dynamic-table
  [columns]="columns"
  [rows]="data"
  [emptyMessage]="emptyMessage"
  [pageSize]="pageSize"
  [maxPages]="maxPages"
  [totalItems]="totalItems"
  [currentPage]="currentPage"
  [serverPagination]="serverPagination"
  (pageChange)="onPageChanged($event)"
  [rowClickable]="true"
  (rowClick)="onRowClick($event)"
>
  <div filters class="row g-3">
    <!-- Filtro per tipo -->
    <div class="col-md-4">
      <label class="form-label fw-bold">
        <i class="fa fa-bars-progress me-1"></i>
        {{ "Filtra per tipo" | translate }}
      </label>

      <p-multiSelect
        [options]="requestTypeOptions"
        optionLabel="label"
        optionValue="value"
        placeholder="Tutti"
        [(ngModel)]="selectedRequestTypes"
        (onChange)="onFilterChange()"
        class="w-100 p-multiselect-sm"
        [showToggleAll]="false"
        [filter]="false"
        [showHeader]="false"
      ></p-multiSelect>
    </div>
    <div class="col-md-4" *ngIf="authService.isPrivilegedUser()">
      <label class="form-label fw-bold"
        ><i class="fa fa-user me-2"></i
        >{{ "Filtra per utente" | translate }}</label
      >

      <p-multiSelect
        [options]="userOptions"
        placeholder="Seleziona..."
        [(ngModel)]="selectedUsers"
        (onChange)="onFilterChange()"
        [showToggleAll]="false"
        [showHeader]="false"
        [filter]="false"
        class="w-100 p-multiselect-sm"
      >
      </p-multiSelect>
    </div>
  </div>
</app-dynamic-table>
