/* QUALSIASI REGOLA CSS GLOBALE SCRIVERLA QUI*/
/* INIZIO MODIFICA CALENDARIO */
:root {
  --fc-border-color: rgba(128, 128, 128, 0.384);
  --fc-daygrid-event-dot-width: 5px;

  .custom-tooltip2 {
    --bs-tooltip-bg: #f8f9fa;
    --bs-tooltip-color: black;
    --bs-tooltip-border-color: #dee2e6; /* colore del bordo */
    --bs-tooltip-border-width: 1px;
  }

  .custom-tooltip2 .tooltip-inner {
    border: 1px solid #dee2e6;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: white;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 20px;
    border: 2px solid #f5f5f5;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
  }
}

/** {
  outline: 1px solid #f00 !important;
}*/
/* CALENDARIO */
.cal-header > .cal-cell {
  background-color: #13ad6a;
  color: white;
}

.cal-out-month .day-number {
  color: gray;
}

.custom-modal {
  .modal-dialog {
    background-color: green;
  }
}

.calendar-btn {
  background-color: transparent;
  border: none;
  color: black;
  transition: all 0.3s ease;

  &:hover {
    color: var(--bs-primary);
    transform: scale(1.05);
  }

  &.remove-button:hover {
    color: var(--bs-danger);
  }

  &:active {
    filter: brightness(75%);
  }
}

.delete-mode {
  border: 2px solid var(--bs-danger);
  border-radius: 10px;
  padding: 16px;
  transition: all 0.1s ease;
}

/* FINE CALENDARIO */

.green {
  background-color: #13ad6a !important;
}

body,
html {
  width: 100%;
  height: 100%;
}
@media (max-width: 480px) {
  .addEventModal {
    width: 100vh;
    height: 100vh;
  }
}
@import "./vars.scss";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "bootstrap/scss/bootstrap";
