<div class="wrapper">
  <div class="profile-details d-block d-lg-flex align-items-center">
    <div class="profile-pic"></div>
    <span>{{ username?.name + " " + username?.surname }}</span>
  </div>
  <div class="menu">
    <app-profile-menu-item
      [name]="'Il mio profilo'"
      [route]="'/app/profile'"
    ></app-profile-menu-item>

    <app-profile-menu-item
      [name]="'Presenze'"
      [route]="'/app/attendance'"
    ></app-profile-menu-item>

    <app-profile-menu-item
      [name]="'Progetti'"
      [route]="'/app/projects'"
    ></app-profile-menu-item>

    <app-profile-menu-item
      [name]="'Utenti'"
      [route]="'/app/users-management'"
      *ngIf="authService.isPrivilegedUser()"
    ></app-profile-menu-item>
  </div>
  <hr />
</div>
