<ng-template #modal let-modal>
  <div *ngIf="!isModifyMode; else modify_modal">
    <div class="modal-header">
      <div>
        <h2 class="modal-title" id="modal-basic-title">
          {{ "Aggiungi richiesta" | translate }}
        </h2>
        <span id="emailHelp" class="form-text"
          >* Inserire la richiesta da approvare</span
        >
      </div>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <form [formGroup]="form" (ngSubmit)="submitNewEntry()">
      <div class="modal-body">
        <div class="">
          <div class="row mb-3">
            <div class="col-10">
              <h4>{{ "Tipo di richiesta" | translate }}</h4>
              <select
                name="form-select"
                class="form-select"
                formControlName="requestType"
              >
                <option
                  value="{{ request_type }}"
                  *ngFor="let request_type of request_types"
                >
                  {{ request_type | translate }}
                </option>
              </select>
              <app-form-error
                [formControlRef]="requestType"
                [validator]="'required'"
                [errorText]="'Seleziona il tipo di richiesta'"
              ></app-form-error>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-10">
              <div>
                <h4>{{ "Data" | translate }}</h4>
                <div class="row text-primary">
                  <div class="col-6">
                    <label for="date-from" class="form-label h5">{{
                      "Da" | translate
                    }}</label>
                    <input
                      type="date"
                      class="form-control"
                      formControlName="dateFrom"
                      [min]="todayString"
                    />
                    <app-form-error
                      [formControlRef]="dateFrom"
                      [validator]="'required'"
                      [errorText]="'Seleziona la data di inizio'"
                    ></app-form-error>
                  </div>
                  <div class="col-6">
                    <label for="date-from" class="form-label h5">{{
                      "A" | translate
                    }}</label>
                    <input
                      type="date"
                      class="form-control"
                      formControlName="dateTo"
                      [min]="todayString"
                    />
                    <app-form-error
                      [formControlRef]="dateTo"
                      [validator]="'required'"
                      [errorText]="'Seleziona la data di fine'"
                    ></app-form-error>
                  </div>
                </div>
              </div>
              <app-form-error
                [formControlRef]="form"
                [validator]="'invalidDateRange'"
                [errorText]="
                  'La data di inizio deve essere minore di quella finale'
                "
              ></app-form-error>
            </div>
          </div>
          <div class="row" *ngIf="showTimeBasedOnRequestType(requestType)">
            <div class="col-10">
              <div>
                <h4>{{ "Ora" | translate }}</h4>
                <div class="row gap-0 text-primary">
                  <div class="col-6">
                    <label for="timeFrom" class="form-label h5">{{
                      "Da" | translate
                    }}</label>
                    <input
                      type="time"
                      class="form-control w-100"
                      id="timeFrom"
                      formControlName="timeFrom"
                    />
                    <app-form-error
                      [formControlRef]="timeFrom"
                      [validator]="'required'"
                      [errorText]="'Seleziona l orario di inizio'"
                    ></app-form-error>
                  </div>
                  <div class="col-6">
                    <label for="timeTo" class="form-label h5">{{
                      "A" | translate
                    }}</label>
                    <input
                      type="time"
                      class="form-control w-100"
                      id="timeTo"
                      formControlName="timeTo"
                    />
                    <app-form-error
                      [formControlRef]="timeTo"
                      [validator]="'required'"
                      [errorText]="'Seleziona l orario di fine'"
                    ></app-form-error>
                  </div>
                </div>
              </div>
              <app-form-error
                [formControlRef]="form"
                [validator]="'invalidTimeRange'"
                [errorText]="
                  'L\'orario di inizio deve essere minore dell\'orario di fine.'
                "
              ></app-form-error>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <app-button
          [type]="'button'"
          [mode]="'UNDO'"
          [name]="'Annulla'"
          (buttonClick)="modal.close('Close click')"
        ></app-button>
        <app-button
          [type]="'submit'"
          [mode]="'SAVE'"
          [name]="'Salva'"
          (buttonClick)="modal.close('Save click')"
          [buttonDisabled]="form.invalid"
        ></app-button>
      </div>
    </form>
  </div>
  <!-- template presente nel caso in cui vi siano entries date dal comnponente padre -->
  <ng-template #modify_modal>
    <div class="modal-header">
      <div>
        <h2 class="modal-title" id="modal-basic-title">
          {{ "Modifica le richieste" | translate }}
        </h2>
        <span id="emailHelp" class="form-text"
          >* {{ "Modificare le richieste presenti" | translate }}</span
        >
      </div>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <form [formGroup]="form" (ngSubmit)="submitModifyModeForm()">
      <div class="modal-body">
        <div class="accordion" formArrayName="requests" id="requests_accordion">
          <div
            class="accordion-item"
            *ngFor="let request of requests.controls; let i = index"
            formGroupName="{{ i }}"
          >
            <!-- HEADER -->
            <h2 class="accordion-header" id="heading-{{ i }}">
              <button
                class="accordion-button d-flex gap-2 align-items-center"
                type="button"
                [ngClass]="{
                  collapsed: !activePanels.has(i),
                  'delete-mode': toDeleteEntries.includes(request.value.id)
                }"
                (click)="togglePanel(i)"
              >
                <span class="fw-medium"
                  >#{{ i + 1 }} {{ "Richiesta" | translate }}</span
                >
                <app-card-badge
                  [labelMap]="statusLabelMap"
                  [mapValue]="request.value.status"
                  [classMap]="statusClassMap"
                ></app-card-badge>
              </button>
            </h2>

            <!-- COLLAPSE -->
            <div
              class="accordion-collapse collapse"
              [ngClass]="{ show: activePanels.has(i) }"
            >
              <div class="accordion-body">
                <!-- CONTENUTO INTERNO — identico al tuo, solo reindentato -->

                <div class="row mb-3">
                  <div class="col-10">
                    <h4>{{ "Tipo di richiesta" | translate }}</h4>
                    <select
                      name="form-select"
                      class="form-select"
                      formControlName="requestType"
                    >
                      <option
                        value="{{ request_type }}"
                        *ngFor="let request_type of request_types"
                      >
                        {{ request_type | translate }}
                      </option>
                    </select>
                    <app-form-error
                      [formControlRef]="requests.at(i).get('requestType')"
                      [validator]="'required'"
                      [errorText]="'Seleziona il tipo di richiesta'"
                    ></app-form-error>
                  </div>

                  <div
                    class="col-2"
                    *ngIf="!isRequestModifyForbidden(request.value.status)"
                  >
                    <div class="d-flex align-items-end">
                      <button
                        class="rounded bg-danger btn btn-icon"
                        type="button"
                        (click)="toggleEntryDelete(request.value, i)"
                      >
                        <fa-icon
                          [icon]="faIcons.xSymbol"
                          class="fa-sm text-light"
                        ></fa-icon>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-10">
                    <div>
                      <h4>{{ "Data" | translate }}</h4>
                      <div class="row text-primary">
                        <div class="col-6">
                          <label for="dateFrom" class="form-label h5">{{
                            "Da" | translate
                          }}</label>
                          <input
                            type="date"
                            class="form-control"
                            formControlName="dateFrom"
                          />
                          <app-form-error
                            [formControlRef]="requests.at(i).get('dateFrom')"
                            [validator]="'required'"
                            [errorText]="'Seleziona la data di inizio'"
                          ></app-form-error>
                        </div>
                        <div class="col-6">
                          <label for="dateTo" class="form-label h5">{{
                            "A" | translate
                          }}</label>
                          <input
                            type="date"
                            class="form-control"
                            formControlName="dateTo"
                          />
                          <app-form-error
                            [formControlRef]="requests.at(i).get('dateTo')"
                            [validator]="'required'"
                            [errorText]="'Seleziona la data di fine'"
                          ></app-form-error>
                        </div>
                      </div>
                    </div>
                    <app-form-error
                      [formControlRef]="requests.at(i)"
                      [validator]="'invalidDateRange'"
                      [errorText]="
                        'La data di inizio deve essere minore di quella finale'
                      "
                    ></app-form-error>
                  </div>
                </div>

                <div
                  class="row"
                  *ngIf="
                    showTimeBasedOnRequestType(
                      requests.at(i).get('requestType')
                    )
                  "
                >
                  <div class="col-10">
                    <div>
                      <h4>{{ "Ora" | translate }}</h4>
                      <div class="row gap-0 text-primary">
                        <div class="col-6">
                          <label for="timeFrom" class="form-label h5">{{
                            "Da" | translate
                          }}</label>
                          <input
                            type="time"
                            class="form-control w-100"
                            id="timeFrom"
                            formControlName="timeFrom"
                          />
                          <app-form-error
                            [formControlRef]="requests.at(i).get('timeFrom')"
                            [validator]="'required'"
                            [errorText]="'Seleziona l orario di inizio'"
                          ></app-form-error>
                        </div>

                        <div class="col-6">
                          <label for="timeTo" class="form-label h5">{{
                            "A" | translate
                          }}</label>
                          <input
                            type="time"
                            class="form-control w-100"
                            id="timeTo"
                            formControlName="timeTo"
                          />
                          <app-form-error
                            [formControlRef]="requests.at(i).get('timeTo')"
                            [validator]="'required'"
                            [errorText]="'Seleziona l orario di fine'"
                          ></app-form-error>
                        </div>
                      </div>
                    </div>

                    <app-form-error
                      [formControlRef]="requests.at(i)"
                      [validator]="'invalidTimeRange'"
                      [errorText]="
                        'L\'orario di inizio deve essere minore dell\'orario di fine.'
                      "
                    ></app-form-error>
                  </div>
                </div>
              </div>
              <!-- accordion-body -->
            </div>
            <!-- collapse -->
          </div>
          <!-- accordion-item -->
        </div>
        <!-- accordion -->
      </div>

      <div class="modal-footer">
        <app-button
          [type]="'button'"
          [mode]="'UNDO'"
          [name]="'Annulla'"
          (buttonClick)="modal.close('Close click')"
        ></app-button>
        <app-button
          [type]="'submit'"
          [mode]="'SAVE'"
          [name]="'Modifica'"
          [buttonDisabled]="form.invalid"
        ></app-button>
      </div>
    </form>
  </ng-template>
</ng-template>
