@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

button.disabled {
  opacity: 0.5;
}

.btn-icon{
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.btn-icon:hover{
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  scale: (1.02);
  transition: all 0.3s ease;
}

