<div class="d-none d-lg-block py-5 px-4 h-100" id="side_nav">
  <div class="header-box">
    <ul class="list-unstyled">
      <app-sidebar-item
        [name]="'Home'"
        [route]="APP_ROUTES.HOME"
        [icon]="faHouse"
      >
      </app-sidebar-item>

      <app-sidebar-item
        [name]="'Il mio profilo'"
        [route]="APP_ROUTES.PROFILE"
        [icon]="faUser"
        [queryParams]="{mode: 'ME'}"
      >
      </app-sidebar-item>

      <app-sidebar-item
        [name]="'Presenze'"
        [route]="APP_ROUTES.CALENDAR"
        [icon]="faCalendar"
      >
      </app-sidebar-item>

      <app-sidebar-item
        [name]="'Progetti'"
        [route]="APP_ROUTES.PROJECTS.DEFAULT"
        [icon]="faDiagramProject"
      >
      </app-sidebar-item>

      <app-sidebar-item
        [name]="'Utenti'"
        [route]="APP_ROUTES.USERS.DEFAULT"
        [icon]="faUsers"
      >
      </app-sidebar-item>
    </ul>
  </div>
</div>
