<div class="wrapper">
  <div class="profile-details d-block d-lg-flex align-items-center">
    <div class="profile-pic"></div>
    <div class="d-flex align-items-center gap-2">
      <span>{{ username?.name + " " + username?.surname }}</span>
    </div>
  </div>
  <div class="menu">
    <app-profile-menu-item
      [name]="'Il mio profilo'"
      [route]="APP_ROUTES.PROFILE"
      [queryParams]="{ mode: 'ME' }"
    ></app-profile-menu-item>

    <app-profile-menu-item
      [name]="'Presenze'"
      [route]="APP_ROUTES.CALENDAR"
    ></app-profile-menu-item>

    <app-profile-menu-item
      [name]="'Progetti'"
      [route]="APP_ROUTES.PROJECTS.DEFAULT"
    ></app-profile-menu-item>

    <app-profile-menu-item
      [name]="'Utenti'"
      [route]="APP_ROUTES.USERS.DEFAULT"
    ></app-profile-menu-item>
  </div>
  <hr />
</div>
