<div class="d-flex gap-2 align-items-center" (click)="openModifyModal()">
  <fa-icon [icon]="icon" class="fa-lg"></fa-icon>
  <button
    class="border-0 rounded-2 text-light calendar-button"
    [ngClass]="{ 'bg-primary': notifs > 0, 'bg-secondary': notifs <= 0 }"
  >
    {{ notifs + " " + text }}
  </button>
</div>
<!-- Selezione della corretta modale -->
<ng-container *ngIf="isTemplateReady">
  <ng-container *ngTemplateOutlet="getTemplate()"></ng-container>
</ng-container>

<ng-template #dayworkTemplate>
  <app-daywork-modal
    #modal
    [date]="date!"
    [dateString]="dateString!"
    [calendarEntries]="filteredEntries"
    [isModifyMode]="modalModify"
    (deleteDayWorks)="handleBulkDelete($event, 'WORKING_DAY')"
    (updateDayWorks)="handleBulkUpdate($event, 'WORKING_DAY')"
  ></app-daywork-modal>
</ng-template>

<ng-template #requestTemplate>
  <app-request-modal
    #modal
    [calendarEntries]="filteredEntries"
    [isModifyMode]="modalModify"
    (deleteRequests)="handleBulkDelete($event, 'REQUEST')"
  ></app-request-modal>
</ng-template>

<ng-template #workingTripTemplate>
  <app-working-trip-modal
    #modal
    [calendarEntries]="filteredEntries"
    [isModifyMode]="modalModify"
    (deleteWorkingTrips)="handleBulkDelete($event, 'WORKING_TRIP')"
  ></app-working-trip-modal>
</ng-template>

<ng-template #availabilityTemplate>
  <app-availability-modal
    #modal
    [calendarEntries]="filteredEntries"
    [isModifyMode]="modalModify"
    (deleteAvailabilies)="handleBulkDelete($event, 'AVAILABILITY')"
    (updateAvailabilities)="handleBulkUpdate($event, 'AVAILABILITY')"
  ></app-availability-modal>
</ng-template>
