<app-card [isSmall]="true" (cardClicked)="handleCardClicked()">
  <div card-header class="d-flex justify-content-between align-items-center">
    <h5 class="mb-0 text-truncate" [title]="fullName">
      <i class="bi bi-folder2-open me-2"></i>
      {{ fullName }}
    </h5>
    <app-ngb-options *ngIf="userAuth.isOwner()" (mwlClick)="$event.preventDefault()" [buttonClass]="'border-0 py-0 px-2'" [dropdownOptions]="itemOptions"></app-ngb-options>
  </div>
  <div card-body class="d-flex gap-2">
    <!-- Email -->
    <div class="card-text d-flex align-items-center mb-2">
      <i class="fa-solid fa-envelope me-2"></i>
      <a
        [href]="'mailto:' + userBasicDetails?.email"
        class=""
        (click)="$event.stopPropagation()"
      >
        {{ userBasicDetails?.email }}
      </a>
    </div>
    <app-card-badge
      [mapValue]="userBasicDetails?.role"
      [classMap]="classMap"
      [labelMap]="roleMap"
    ></app-card-badge>

    <!-- Duty (Mansione) -->
    <!-- <div class="card-text d-flex align-items-center text-truncate" *ngIf="userBasicDetails?.duty">
      <i class="fa-solid fa-briefcase me-2"></i>
      <span class="text-body">
        {{ (userBasicDetails?.duty ?? '') | translate }}
      </span>
    </div> -->
  </div>
</app-card>
