<div class="d-flex flex-column vh-100">
  <app-navbar class="flex-shrink-0"></app-navbar>

  <!-- Contenuto principale -->
  <div class="d-flex flex-grow-1 overflow-hidden">
    <!-- Sidebar fissa a sinistra -->
    <aside class="p-0 flex-shrink-0">
      <app-sidebar></app-sidebar>
    </aside>

    <!-- Contenuto dinamico -->
    <main class="flex-grow-1 d-flex flex-column px-4 py-4 overflow-hidden position-relative" aria-live="polite" toastContainer>
      <app-profile-menu [username]="newUsername" class="flex-shrink-0"></app-profile-menu>
      <div class="flex-grow-1 overflow-auto" >
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
