<ng-template #modal let-modal>
  <div *ngIf="!isModifyMode; else modify_modal">
    <div class="modal-header">
      <div>
        <h2 class="modal-title" id="modal-basic-title">{{dateString | translate}}</h2>
        <span id="emailHelp" class="form-text">* {{"Inserire l'orario e il progetto sulla quale si sta lavorando" | translate}}</span>
      </div>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form action="" [formGroup]="form" (ngSubmit)="submitNewEntries()">
      <div class="modal-body">
        <h4>{{"Orario lavorativo" | translate}}</h4>
        <div class="mb-4 d-flex gap-4 text-primary">
          <div>
            <label for="date-from" class="form-label h5">{{"Da" | translate}}</label>
            <input type="time" class="form-control" id="hour-from" formControlName="hourFrom">
            <app-form-error [formControlRef]="hourFrom" [validator]="'required'" [errorText]="'Seleziona la data di inizio'"></app-form-error>
          </div>
          <div>
            <label for="date-to" class="form-label h5">{{"A" | translate}}</label>
            <input type="time" class="form-control" id="hour-to" formControlName="hourTo">
            <app-form-error [formControlRef]="hourTo" [validator]="'required'" [errorText]="'Seleziona la data di fine'"></app-form-error>
          </div>
          <div>
            <label for="projects" class="form-label h5">{{"Progetto" | translate}}</label>
            <select name="project_" id="projects" class="form-select" formControlName="project">
              <option value="{{project}}" *ngFor="let project of validProjects">{{project}}</option>
            </select>
            <app-form-error [formControlRef]="project" [validator]="'required'" [errorText]="'Seleziona il progetto'"></app-form-error>
          </div>
        </div>
        <div class="d-flex gap-2 align-items-center ">
          <h4>{{"Aggiungi orario lavorativo" | translate}}</h4>
          <button class="calendar-btn mb-1" type="button" (click)="addNewDayWork()"><fa-icon [icon]="faIcons.plus" class="fa-lg "></fa-icon></button>
        </div>
        <div formArrayName="day_works">
          <div *ngFor="let daywork of dayWorks.controls; let i = index" formGroupName="{{i}}">
            <div class="mb-3 d-flex gap-4 text-primary w-100">
              <div>
                <label for="hourFrom" class="form-label h5">{{"Da" | translate}}</label>
                <input type="time" class="form-control" id="hourFrom" formControlName="hourFrom">
                <app-form-error [formControlRef]="dayWorks.at(i).get('hourFrom')" [validator]="'required'" [errorText]="'Seleziona la data di inizio'"></app-form-error>
              </div>
              <div>
                <label for="hourTo" class="form-label h5">{{"A" | translate}}</label>
                <input type="time" class="form-control" id="hourTo" formControlName="hourTo">
                <app-form-error [formControlRef]="dayWorks.at(i).get('hourTo')" [validator]="'required'" [errorText]="'Seleziona la data di fine'"></app-form-error>
              </div>
              <div>
                <label for="projects" class="form-label h5">{{"Progetto" | translate}}</label>
                <select name="project_" id="projects" class="form-select" formControlName="project">
                  <option value="{{project}}" *ngFor="let project of validProjects">{{project}}</option>
                </select>
                <app-form-error [formControlRef]="dayWorks.at(i).get('project')" [validator]="'required'" [errorText]="'Seleziona il progetto'"></app-form-error>
              </div>
              <div class="d-flex align-items-end">
                <button class="rounded-2 bg-danger btn btn-icon" (click)="removeDayWork(i)"><fa-icon [icon]="faIcons.xSimbol" class="fa-sm text-light"></fa-icon></button>
              </div>
            </div>
            <hr class="my-4 border-1" *ngIf="i != (dayWorks.controls.length - 1)">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="px-4 py-0 rounded-4 bg-dark-subtle border-0 text-dark" (click)="modal.close('Save click')">Annulla</button>
        <button type="submit" class="px-4 py-0 rounded-4 bg-primary border-0 text-light" (click)="modal.close('Save click')" [disabled]="form.invalid" [class.disabled]="form.invalid">Salva</button>
      </div>
    </form>
  </div>
  <!-- template modale di modifica -->
	<ng-template #modify_modal>
    <div class="modal-header">
      <div>
        <h2 class="modal-title" id="modal-basic-title">{{dateString | translate}}</h2>
        <span id="emailHelp" class="form-text">* {{"Modificare i lavori del giorno" | translate}}</span>
      </div>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form action="" [formGroup]="form" (ngSubmit)="submitModifyModeForm()">
      <div class="modal-body" formArrayName="day_works">
        <div *ngFor="let dayWork of dayWorks.controls; let i = index" formGroupName="{{i}}">
          <div class="mb-4 d-flex gap-4 text-primary" [ngClass]="{'delete-mode': toDeleteEntries.includes(dayWork.value.id)}">
            <div>
              <label for="date-from" class="form-label h5">{{"Da" | translate}}</label>
              <input type="time" class="form-control" id="hourFrom" formControlName="hourFrom">
              <app-form-error [formControlRef]="dayWorks.at(i).get('hourFrom')" [validator]="'required'" [errorText]="'Seleziona la data di inizio'"></app-form-error>
            </div>
            <div>
              <label for="date-to" class="form-label h5">{{"A" | translate}}</label>
              <input type="time" class="form-control" id="hourTo" formControlName="hourTo">
              <app-form-error [formControlRef]="dayWorks.at(i).get('hourTo')" [validator]="'required'" [errorText]="'Seleziona la data di fine'"></app-form-error>
            </div>
            <div>
              <label for="projects" class="form-label h5">{{"Progetto" | translate}}</label>
              <select name="project_" id="projects" class="form-select" formControlName="project">
                <option value="{{project}}" *ngFor="let project of validProjects">{{project}}</option>
              </select>
              <app-form-error [formControlRef]="dayWorks.at(i).get('project')" [validator]="'required'" [errorText]="'Seleziona il progetto'"></app-form-error>
            </div>
            <div class="d-flex align-items-end">
              <button class="rounded-2 bg-danger btn btn-icon" type="button" (click)="toggleEntryDelete(dayWork.value, i)"><fa-icon [icon]="faIcons.xSimbol" class="fa-sm text-light"></fa-icon></button>
            </div>
          </div>
          <hr class="my-4 border-1" *ngIf="i != (dayWorks.controls.length - 1)">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="px-4 py-0 rounded-4 bg-dark-subtle border-0 text-dark" (click)="modal.close('Save click')">Annulla</button>
        <button type="submit" class="px-4 py-0 rounded-4 bg-primary border-0 text-light" [disabled]="form.invalid" [class.disabled]="form.invalid">Salva</button>
      </div>
    </form>
  </ng-template>
</ng-template>
