<ng-container *ngIf="project?.assignedTo?.length; else notAssigned">
  <h6 class="mb-2">{{"Assegnato a" | translate}}:</h6>
  <div class="d-flex flex-wrap gap-1">
    <span class="badge badge-light text-dark border">
      <i class="fa-solid fa-user me-1"></i>
      {{ project?.assignedTo?.[0] }}
    </span>
    <span
      *ngIf="(project?.assignedTo)!.length > 1"
      class="badge badge-light text-dark border"
      data-bs-toggle="tooltip"
        data-bs-placement="top"
        data-bs-custom-class="custom-tooltip2"
        [title]="tooltipTitle"
        data-bs-placement="top"
    >
      <i
        class="fa-solid fa-plus"
      ></i>
    </span>
  </div>
  <small class="text-muted d-block mt-1">
    {{ project?.assignedTo?.length }}
    {{ project?.assignedTo?.length === 1 ? "utente" : "utenti" }}
  </small>
</ng-container>

<ng-template #notAssigned>
  <h6 class="mb-2">{{ "Assegnato a" | translate }}:</h6>
  <div class="fst-italic text-muted">{{ "Ancora non assegnato" | translate }}</div>
</ng-template>
