<ng-container *ngIf="project?.assignedTo?.length; else notAssigned">
  <h6 class="mb-2">
    <i class="fa fa-user me-2"></i>{{ "Utenti assegnati" | translate }}:
  </h6>
  <div class="d-flex flex-wrap gap-1">
    <app-chips
      *ngFor="let email of project?.assignedTo?.slice(0, 1)"
      [text]="project?.assignedTo?.[0]?.toString() || ''"
      [mode]="'STATIC'"
    ></app-chips>
    <span
      *ngIf="(project?.assignedTo)!.length > 1"
      class="badge bg-light text-dark border d-inline-flex align-items-center gap-1 px-2 py-1 rounded-4"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      data-bs-custom-class="custom-tooltip2"
      [title]="tooltipTitle"
      data-bs-placement="top"
    >
      <i class="fa-solid fa-plus"></i>
      <span class="">{{ (project?.assignedTo?.length ?? 0) - 1 }}</span>
    </span>
    <!-- project?.assignedTo?.[0] -->
  </div>
</ng-container>

<ng-template #notAssigned>
  <h6 class="mb-2">
    <i class="fa fa-user me-2"></i>{{ "Utenti assegnati" | translate }}:
  </h6>
  <div class="fst-italic text-muted">
    {{ "Ancora non assegnato" | translate }}
  </div>
</ng-template>
