.custom-tooltip.tooltip > .tooltip-inner {
  --bs-tooltip-bg: blue;
  --bs-tooltip-color: white;
}

/* .chip {
  border-radius: 16px !important;
  font-size: 0.875rem;
  font-weight: normal;
  transition: all 0.2s ease;

  .chip-remove {
    cursor: pointer;
    opacity: 0.6;
    font-size: 1rem;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 1;
      color: var(--bs-danger);
    }
  }

  &:hover {
    background-color: var(--bs-gray-300) !important;
  }
} */
