<ng-template #addProjectModal let-thisModal>
  <div class="modal-header">
    <div>
      <h3 class="modal-title" id="modal-basic-title">
        {{ ("Scarica Report del" | translate) + " " + todayYear }}
      </h3>
      <span class="form-text">* {{ "Seleziona un mese valido dell'anno corrente" | translate }}</span>
    </div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="thisModal.dismiss('Cross click')"
    ></button>
  </div>
  <form #monthForm="ngForm" (ngSubmit)="submitReportExport(monthForm)" novalidate>
    <div class="modal-body">
      <div class="">
        <label for="month-select" class="form-label fw-bold">{{ "Mese" | translate }}</label>
        <select
          id="month-select"
          class="form-select w-50"
          name="selectedMonth"
          required
          [(ngModel)]="selectedMonth"
        >
          <option *ngFor="let month of availableMonths" [ngValue]="month.value">
            {{ month.label | translate | titlecase }}
          </option>
        </select>
        <div
          *ngIf="monthForm.submitted && monthForm.controls['selectedMonth']?.invalid"
          class="invalid-feedback d-block"
        >
          {{ "Seleziona un mese valido" | translate }}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <app-button
        [type]="'button'"
        [name]="'Annulla' | translate"
        [mode]="'UNDO'"
        (buttonClick)="thisModal.close()"
      ></app-button>
      <app-button
        [type]="'submit'"
        [name]="'Scarica' | translate"
        [mode]="'SAVE'"
        [buttonDisabled]="!!monthForm?.invalid"
      ></app-button>
    </div>
  </form>
</ng-template>
