<ng-template #addProjectModal let-thisModal>
  <div class="modal-header">
    <div>
      <h3 class="modal-title" id="modal-basic-title">
        {{ "Scarica mese" | translate }}
      </h3>
      <span class="form-text">* {{"Seleziona il mese valido da esportare in formato .csv" | translate}}</span>
    </div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="thisModal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    idk
  </div>
  <div class="modal-footer">
    <app-button
      [type]="'button'"
      [name]="'Annulla'"
      [mode]="'UNDO'"
      (buttonClick)="thisModal.close()"
    ></app-button>
    <app-button
      [type]="'submit'"
      [name]="'Salva'"
      [mode]="'SAVE'"
      [buttonDisabled]="true"
      (buttonClick)="submitMonthExport()"
    ></app-button>
  </div>
</ng-template>
