<div class="d-flex gap-2 align-items-center" (click)="openModifyModal()">
  <fa-icon [icon]="icon" class="fa-lg"></fa-icon>
  <div *ngIf="this.customNotifs" class="d-flex align-items-center gap-1">
    <app-status-badge *ngIf="this.customNotifs['ACCEPTED']"
      [notifs]="this.customNotifs['ACCEPTED']"
      [status]="'ACCEPTED'"
    ></app-status-badge>
    <app-status-badge *ngIf="this.customNotifs['PENDING']"
      [notifs]="this.customNotifs['PENDING']"
      [status]="'PENDING'"
    ></app-status-badge>
    <app-status-badge *ngIf="this.customNotifs['REJECTED']"
      [notifs]="this.customNotifs['REJECTED']"
      [status]="'REJECTED'"
    ></app-status-badge>
    <!-- <span class="text-primary" style="line-height: 1">{{ this.notifs }}</span> -->
  </div>
  <button
    class="border-0 rounded-2 calendar-button calendar-button-hover bg-secondary-subtle text-muted"
    [ngClass]="{ 'calendar-button-hover': hasAnyNotifs() }"
    type="button"
  >
    {{ buttonText }}
  </button>
  <!-- entry notif. make a component for it -->
</div>

<ng-container *ngIf="isTemplateReady">
  <ng-container *ngTemplateOutlet="getTemplate()"></ng-container>
</ng-container>

<ng-template #dayworkTemplate>
  <app-daywork-modal
    #modal
    [date]="_date!"
    [dateString]="dateString!"
    [calendarEntries]="filteredEntries"
    [isModifyMode]="modalModify"
  ></app-daywork-modal>
</ng-template>

<ng-template #requestTemplate>
  <app-request-modal
    #modal
    [calendarEntries]="filteredEntries"
    [isModifyMode]="modalModify"
  ></app-request-modal>
</ng-template>

<ng-template #workingTripTemplate>
  <app-working-trip-modal
    #modal
    [calendarEntries]="filteredEntries"
    [isModifyMode]="modalModify"
  ></app-working-trip-modal>
</ng-template>

<ng-template #availabilityTemplate>
  <app-availability-modal
    #modal
    [calendarEntries]="filteredEntries"
    [isModifyMode]="modalModify"
  ></app-availability-modal>
</ng-template>
