<div class="modal-header">
  <h3 class="modal-title">{{title | translate}}</h3>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  ></button>
</div>

<div class="modal-body">
  <p>
    {{message |translate}}
  </p>
</div>

<div class="modal-footer">
  <app-button [name]="'Annulla'" [type]="'button'" [mode]="'UNDO'" (buttonClick)="activeModal.dismiss()"></app-button>
  <app-button [name]="'Conferma'" [type]="'submit'" [mode]="'DELETE'" (buttonClick)="onDelete()"></app-button>
</div>
