<app-select-lang class="position-absolute mx-2 my-2"></app-select-lang>
<section class="min-vw-100 min-vh-100 d-flex align-items-center">
  <div class="container">
    <div class="row g-0 rounded-3">
      <div class="col-lg-4 mx-auto text-center rounded bg-white">
        <img src="../../favicon.ico" alt="" class="img-fluid mb-5" id="logo" />
        <form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()">
          <div class="form-group" class="mb-2">
            <label for="email" class="fw-bold fs-5 d-block mb-2">{{ "E-mail" | translate }}</label>
            <input
              type="text"
              id="email"
              class="w-100 form-control form-control-sm shadow-sm border-dark border-1 rounded-3"
              [placeholder]="'Inserisci email' | translate"
              formControlName="email"
            />
            <div *ngIf="emailControl!.invalid && emailControl!.touched">
              <app-form-error
                [formControlRef]="emailControl"
                [validator]="'required'"
                [errorText]="'Campo richiesto' | translate"
              ></app-form-error>
              <app-form-error
                [formControlRef]="emailControl"
                [validator]="'pattern'"
                [errorText]="'Formato E-mail non valido' | translate"
              ></app-form-error>
            </div>
          </div>
          <div class="form-group" class="mb-4">
            <label for="pwd" class="fw-bold fs-5 d-block mb-2">{{ "Password" | translate }}</label>
            <div class="position-relative">
              <input
                id="pwd"
                class="w-100 form-control form-control-sm shadow-sm border-dark border-1 rounded-3"
                [placeholder]="'Inserisci password' | translate"
                formControlName="password"
                [type]="showPassword ? 'text' : 'password'"
              />
              <i
                class="fa-solid position-absolute top-50 end-0 translate-middle-y me-3 cursor-pointer text-secondary"
                [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
                (click)="togglePwdVisibility()"
                style="z-index: 10"
              ></i>
            </div>

            <div *ngIf="passwordControl!.invalid && passwordControl!.touched">
              <app-form-error
                [formControlRef]="passwordControl"
                [validator]="'minlength'"
                [errorText]="'Numero di caratteri inferiore a 8' | translate"
              ></app-form-error>
              <app-form-error
                [formControlRef]="passwordControl"
                [validator]="'required'"
                [errorText]="'Campo richiesto' | translate"
              ></app-form-error>
            </div>
          </div>
          <button
            class="btn btn-sm btn-primary w-100 rounded-3 text-white fw-bold"
            [disabled]="loginForm.invalid"
          >
            {{ "Accedi" | translate }}
          </button>
        </form>
        <div *ngIf="areCredentialsInvalid" class="text-danger small mt-1">
          {{ "Credenziali errate" | translate }}
        </div>
        <div class="d-flex justify-content-between mt-2">
          <app-auth-link
            [text]="'Hai dimenticato la password?' | translate"
            [link]="'/forgotten-pw'"
            class="me-2"
          ></app-auth-link>
          <!-- <app-auth-link [text]="'Registrati' | translate" [link]="'/signin'" class="me-2"></app-auth-link> -->
          <app-auth-link
            [text]="'Informativa sulla privacy' | translate"
          ></app-auth-link>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Crea un componente che permetta di creare il form per il login, signin ecc in base a parametri passati.
     Componente da inserire all'interno della section -->
